/**
 * APEX_MOBILE.CSS
 * 
 * CSS for mobile Oracle APEX apps
 * @version: 0.3
 */
 
/*
 * center page title
 */
.t-Header-logo {
    text-align: center;
}

/*
 * remove white space around region
 */
.t-Body-content { 
    margin-top: -1px; 
}

/*
 * remove white space around region
 */
.t-Body-contentInner { 
    padding: 0; 
}

/*
 * set color of heart icon to red ;)
 */
.fa.fa-heart {
    color: red;
}

/*
 * style parameter container
 * - light grey background
 * - black bottom border
 * - padding within
 */
#parameters {
  background-color: #108a90;
  border-bottom: 1px solid black;
  padding: 8px;
}
/*
 * style list divider for more contrast
 * - grey background
 * - white font
 */
li.a-ListView-divider.ui-bar-inherit {
    background-color: rgba(0,0,0,.55);
    color: white;
}
/*
 * hide save_button
 */
.save_button {
    display: none;
}

/*
 * style delete button:
 * - create distance to form
 * - enlarge and emphasize font
 * - style rounded border
 */
.delete_button {
    margin-top: 20px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid darkred;
}